ul{
  font-size: 24px;
  color: azure;
}
body{
    background: red;
}
a:hover{
    color: azure;
    background-color: red;
}
a{
    font-size: 24px;
    background: black;
}
 
#searchbar {
 position: absolute;
 top: 50px;
 right: 50px;
 color: black;
}

b{
    color: azure;
    font-size: 24px;
}
h2{
    color: azure;

}
h1{
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media(max-width: 480px){
    #searchbar {
        position: absolute;
        top: 20px;
        right: 50px;
        color: black;
       }

  #pic{
    max-width: 100%;
    height: auto
  }


body{
    background: black;
}

h2{
    color: red;
}

b{
    color: red;
}

ul{
    color: red;
}

h1{
    color: red;
}

a{
    color: red;
}
}
    